#side-bar #info-label {
	-fx-background-color: #4F94CD;
	-fx-text-fill: #ffffff;
	-fx-alignment: center;
	-fx-border-width: 0 0 0 0;
}

#side-bar .label{
	-fx-background-color:  #404040;
	-fx-text-fill: #ffffff;
	-fx-alignment: center;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #8A8A8A;
	
}

#side-bar .label:hover{
	-fx-background-color: #6E6E6E;
}

.grid-pane {
	-fx-background-color: #ffffff;
}

.menu-button{
	-fx-background-color:#ffffff;
	-fx-background-radius : 0;
	-fx-text-fill: #404040;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #404040;
}

.text-field{
	-fx-background-color:#ffffff;
	-fx-background-radius : 0;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #404040;
}

.button{
	-fx-background-color:#404040;
	-fx-background-radius : 0;
	-fx-text-fill: #ffffff;
}