#side-bar #info-label {
	-fx-background-color: #4F94CD;
	-fx-text-fill: #ffffff;
	-fx-alignment: center;
	-fx-border-width: 0 0 0 0;
}

#side-bar .label{
	-fx-background-color:  #404040;
	-fx-text-fill: #ffffff;
	-fx-alignment: center;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #8A8A8A;
	
}

#side-bar .label:hover{
	-fx-background-color: #6E6E6E;
}

.grid-pane {
	-fx-background-color: #ffffff;
}

.menu-button{
	-fx-background-color:#ffffff;
	-fx-background-radius : 0;
	-fx-text-fill: #404040;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #404040;
	-fx-font-size: 11;
	-fx-min-width: 80;
}

.text-field{
	-fx-background-color:#ffffff;
	-fx-background-radius : 0;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #404040;
}

.button{
	-fx-background-color:#404040;
	-fx-background-radius : 0;
	-fx-text-fill: #ffffff;
}

.button:hover{
	-fx-background-color: #9f9f9f;
}

#list-vbox{
	-fx-background-image: url("resultBackground2.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-padding:0 0 0 0;
}


#list-vbox .hbox{
	-fx-padding:0 0 0 0;
	-fx-pref-width: 484;
}

#list-vbox .label, #list-vbox .button{
	-fx-text-fill: #ffffff;
	-fx-border-width:0 0 0 0;
	-fx-background-color: rgba(0,0,0,0.6);
	-fx-padding: 10;
	-fx-font-size: 11;
	-fx-pref-height: 80;
}

#list-vbox .label{
	-fx-min-width: 120;
}

#list-vbox .button{
	-fx-padding: 20;
	-fx-background-color: rgba(0,0,0,0.8);
	-fx-min-width: 80;
}

#list-vbox .button:hover{
	-fx-background-color: rgba(0,0,0,0.2);
}

.titled-pane .title{
	-fx-border-width: 1 1 0 1;
	-fx-background-color: #404040;
	-fx-text-fill:#ffffff;
	
}

.titled-pane{
	-fx-border-width: 0 0 0 0;
	-fx-background-color: #ffffff;
	
}

.scroll-pane .scroll-bar{
	-fx-background-color: transparent;
	-fx-pref-width:5;
}

.scroll-pane .increment-button, .scroll-pane .decrement-button{
	-fx-background-color: transparent;
}


.scroll-pane .scroll-bar .decrement-arrow, 
.scroll-pane .scroll-bar .increment-arrow
{
	-fx-shape:" ";
	-fx-padding:0;
}

.scroll-pane .thumb {
	-fx-background-insets: 0, 0, 0, 0;
	-fx-background-radius: 120;
	-fx-background-color: derive(gray,70%);
}


