#title-label{
	-fx-text-fill: #ffffff;
	-fx-background-color: transparent;
	-fx-padding: 60 0 0 0;
}

#desc-label{
	-fx-background-color: #ffffff;
}

#title-label:hover{
	-fx-background-color: rgba(0,0,0,0.3);
}

