.grid-pane {
	-fx-background-color: #ffffff;
}

.menu-button{
	-fx-background-color:#ffffff;
	-fx-background-radius : 0;
	-fx-text-fill: #404040;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #404040;
}

.text-field{
	-fx-background-color:#ffffff;
	-fx-background-radius : 0;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #404040;
}

.button{
	-fx-background-color:#404040;
	-fx-background-radius : 0;
	-fx-text-fill: #ffffff;
}

.button:hover{
	-fx-backgournd-color: derive(#404040,0.8);
}