#list-vbox{
	-fx-background-image: url("bg2.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-padding:0 0 0 0;
}


#list-vbox .hbox{
	-fx-padding:0 0 0 0;
	-fx-pref-width: 484;
	-fx-max-height: 90;
}



#list-vbox .button{
	-fx-text-fill: #ffffff;
	-fx-border-width:0 0 0 0;
	-fx-background-color: rgba(0,0,0,0.8);
	-fx-font-size: 10;
	-fx-max-height: 30;
	-fx-min-height: 30;
	-fx-min-width: 80;
	-fx-background-radius : 0;
	-fx-background-insets:0 0 0.2 0;

}

.scroll-pane .scroll-bar{
	-fx-background-color: transparent;
	-fx-pref-width:5;
}

.scroll-pane .increment-button, .scroll-pane .decrement-button{
	-fx-background-color: transparent;
}


.scroll-pane .scroll-bar .decrement-arrow, 
.scroll-pane .scroll-bar .increment-arrow
{
	-fx-shape:" ";
	-fx-padding:0;
}

.scroll-pane .thumb {
	-fx-background-insets: 0, 0, 0, 0;
	-fx-background-radius: 120;
	-fx-background-color: derive(gray,70%);
}


#list-vbox .hbox .vbox{
	-fx-pref-height:90;
}

#list-vbox .button:hover{
	-fx-background-color: rgba(0,0,0,0.5);
}

#list-vbox .label{
	-fx-min-width: 120;
	-fx-max-height: 90;
	-fx-padding: 0 10 0 15;
	-fx-background-color: rgba(0,0,0,0.6);
	-fx-text-fill: #ffffff;
}


.titled-pane .title{
	-fx-border-width: 1 1 0 1;
	-fx-background-color: #404040;
	-fx-text-fill:#ffffff;
	
}

.titled-pane{
	-fx-border-width: 0 0 0 0;
	-fx-background-color: #ffffff;
	
}


