.text-field{
	-fx-background-color: transparent;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #404040;
}



.combo-box-base  
{
	-fx-background-color:#404040;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box .text{
	-fx-fill:#ffffff;
}

.combo-box-popup .list-view .list-cell 
{
    -fx-background-color: #B0C4DE;
    -fx-font-size:11;
}

.combo-box-popup .list-view .list-cell:hover 
{
    -fx-background-color: derive(#B0C4DE,0.7);
}

.combo-box-popup .list-view .scroll-bar
{
    -fx-background-color: transparent;
}

.combo-box-popup .list-view .thumb
{
   	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 120;
	-fx-background-color: derive(gray,80%);
}

.combo-box-popup .list-view .thumb:hover
{
	-fx-background-color: derive(gray,50%);
}

.combo-box .arrow{
	-fx-background-color:#ffffff;
}

.combo-box-base:hover
{
    -fx-background-color: derive(#404040,0.6);
}

.button{
	-fx-text-fill:#ffffff;
	-fx-background-color:#404040;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.button:hover{
	-fx-background-color: derive(#404040,0.6);
}

#save-label:hover,#cancel-label:hover{
	-fx-background-color: derive(#404040,0.8);
}

#list-vbox .button{
	-fx-background-color: transparent;
	-fx-border-width: 0 0 0 0;
	-fx-text-fill:#6495ED;
	-fx-font-size:11;
	-fx-padding:0 20 0 5
}

#list-vbox .button:hover{
	-fx-text-fill: derive(#6495ED,0.7);
}
